.contain-to-grid {
  background-color: #FFFFFF !important;
  height: 15em;
}

.top-bar {
  background-color: #FFFFFF !important;
}

nav.index {
  h1 {
    display: none;
  }
  section.fullmenu {
    display: none;
  }
  p {
    display: none;
  }
  @media only screen and (min-width: 40.063em) {
    background-color: #FFFFFF;
    height: 23em !important;
    margin-top: 0.875em;
    div {
      p {
        display: block;
        font-size: 1.05em;
        margin-top: 0.25em;
        margin-bottom: 1.75em;
        font-family: $font-family-josefin !important;
        color:#7f7f7f;
      }
    }
    h1 {
      display:block;
      text-align: center;
      font-family: $font-family-meddon !important;
      img {
        height:4em;
        margin-bottom:0.5em;
      }
    }
    section.fullmenu {
      display: block;
      width: 100%;
      div.left-line {
        height: 2em;
        border-bottom: thin solid #9a9592;
      }
      ul {
        li {
          display: inline-block;
          padding: 0.875em;
          font-family: $font-family-josefin !important;
          font-weight:bold;
          text-transform: uppercase;

          a {
            color: #505050;
            font-size:1.125em;

            &:hover {
              border-bottom:solid thin #b9c3ba;
              color:#b9c3ba;
            }

          }
        }
      }
      div.right-line {
        height: 2em;
        border-bottom: thin solid #9a9592;
      }
    }
    section.top-bar-section {
      display: none !important;
    }
  }
}

nav.sidepage {
  h1 {
    display: none;
  }
  section.fullmenu {
    display: none;
  }
  p {
    display: none;
  }
  @media only screen and (min-width: 40.063em) {
    background-color: #FFFFFF;
    height: 15em !important;
    margin-top: 0.875em;
    div {
      p {
        display: block;
        font-size: 1.05em;
        margin-top: 0.25em;
        margin-bottom: 1.75em;
        font-family: $font-family-josefin !important;
        color:#7f7f7f;
      }
    }
    h1 {
      display:block;
      text-align: center;
      font-family: $font-family-meddon !important;
      img {
        height:1.5em;
        margin-bottom:0.5em;
      }
    }
    section.fullmenu {
      display: block;
      width: 100%;
      div.left-line {
        height: 2em;
        border-bottom: thin solid #9a9592;
      }
      ul {
        li {
          display: inline-block;
          padding: 0.875em;
          font-family: $font-family-josefin !important;
          font-weight:bold;
          text-transform: uppercase;

          a {
            color: #505050;
            font-size:1.125em;

            &:hover {
              border-bottom:solid thin #b9c3ba;
              color:#b9c3ba;
            }

          }
        }
      }
      div.right-line {
        height: 2em;
        border-bottom: thin solid #9a9592;
      }
    }
    section.top-bar-section {
      display: none !important;
    }
  }
}

p {
  font-family: $font-family-roboto !important;
  font-weight:400 !important;
}

.top-bar-section {
  ul {
    text-align: center;
    li {
      background-color: #FFFFFF !important;
      &:hover, &:active {
        background-color: #FFFFFF;
      }
      a {
        font-size:1.675em !important;
        color: #000000;
        font-family: $font-family-josefin !important;
        color: #000000 !important;
      }
    }
  }
}

nav.top-bar:not(.expanded) {
  text-align: center;
  section.top-bar-section { display: inline-block; }
}

.title-area {
  background-color: #FFFFFF !important;
}

.toggle-topbar {
  right:36% !important;
  &:active {
    background-color: #FFFFFF !important;
  }
  a {
    span {
      font-family: $font-family-josefin;
      font-size:2em;
      color: #000000;
    }
  }
}

.mobile-title {
  @media only screen and (min-width: 40.063em) {
    display:none;
  }
  p {
    font-family: $font-family-meddon !important;
    font-size:1.5em;
    text-align: center;
    border-top:solid thin #000000;
    padding-top:0.5em;
    img {
      height:4em;
    }
  }

  .mobile-address {
    font-family: $font-family-josefin !important;
    font-size:0.875em;
    text-align: center;
    margin-bottom:0.5em;
  }

  .mobile-phone {
    font-family: $font-family-josefin !important;
    font-size:0.875em;
    text-align: center;
    margin-bottom:0.5em;
  }
}

.mobile-title.sidepage {
  @media only screen and (min-width: 40.063em) {
    display:none;
  }
  p {
    font-family: $font-family-meddon !important;
    font-size:1.5em;
    text-align: center;
    border-top:solid thin #000000;
    padding-top:0.5em;
    img {
      height:1.5em;
    }
  }

  .mobile-address {
    font-family: $font-family-josefin !important;
    font-size:0.875em;
    text-align: center;
    margin-bottom:0.5em;
  }

  .mobile-phone {
    font-family: $font-family-josefin !important;
    font-size:0.875em;
    text-align: center;
    margin-bottom:0.5em;
  }
}

.rgs-hero {
  height:26.5em;
  padding-top:.5em;
  padding-bottom:.5em;
  border-top:solid .25em #b9c3ba;
  border-bottom:solid .27em #b9c3ba;
}

.rgs-hero-image {
  height:25em;
  background-color: #b9c3ba;
  background-image:url('/img/gallery/gallery5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.rgs-home-1 {
  padding:4em 0px;
  h1 {
    font-family:$font-family-josefin !important;
    font-size:3em;
  }
  p {
    font-family:$font-family-josefin !important;
    font-size:1.25em;
  }
}

.rgs-home-2 {
  background-color: #1cc7ff;
  i {
    display:inline-block;
    color:white;
    @media only screen and (min-width: 40.063em) {
      font-size:4em;
      padding:0px 1em 0px 1em;
      &:hover {
        color:#009900;
        cursor: pointer;
      }
    }
    font-size:3em;
    padding:0px 0.675em 0px 0.675em;
  }
}

.rgs-about-hero {
  height:26.5em;
  padding-top:.5em;
  padding-bottom:.5em;
  border-top:solid .25em #b9c3ba;
  border-bottom:solid .27em #b9c3ba;
  @media only screen and (min-width: 40.063em) {
    height:36.5em;
  }
}

.rgs-about-hero-image {
  height:25em;
  background-color: #7f7f7f;
  background:url('/img/hero/about.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @media only screen and (min-width: 40.063em) {
    background-size: cover;
    height:35em;
  }
}

.rgs-about-1 {
  padding:4em 0px;
  h1 {
    font-family:$font-family-josefin !important;
    font-size:3em;
  }
  p {
    font-family:$font-family-josefin !important;
    font-size:1.25em;
  }
}

.rgs-about-2 {
  background-color: #1cc7ff;
  i {
    display:inline-block;
    color:white;
    @media only screen and (min-width: 40.063em) {
      font-size:4em;
      padding:0px 1em 0px 1em;
      &:hover {
        color:#009900;
        cursor: pointer;
      }
    }
    font-size:3em;
    padding:0px 0.675em 0px 0.675em;
  }
}

.rgs-gallery-hero {
  height:26.5em;
  padding-top:.5em;
  padding-bottom:.5em;
  border-top:solid .25em #b9c3ba;
  border-bottom:solid .27em #b9c3ba;
}

.rgs-gallery-hero-image {
  height:25em;
  background-color: #008CBA;
}

.rgs-gallery-1 {
  padding:4em 0px;
  h1 {
    font-family:$font-family-josefin !important;
    font-size:3em;
  }
  p {
    font-family:$font-family-josefin !important;
    font-size:1.25em;
  }
}

.rgs-gallery-2 {
  padding:2em 0px;
  background-color: #FFFFFF;

  ul {
    li {
      img {
        border: solid 4px #FFFFFF;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
        height:225px;
        width:225px;
      }
    }
  }
}

.rgs-gallery-3 {
  background-color: #1cc7ff;
  i {
    display:inline-block;
    color:white;
    @media only screen and (min-width: 40.063em) {
      font-size:4em;
      padding:0px 1em 0px 1em;
      &:hover {
        color:#009900;
        cursor: pointer;
      }
    }
    font-size:3em;
    padding:0px 0.675em 0px 0.675em;
  }
}

.rgs-news-1 {
  padding:2em 0px;
  h1 {
    font-family:$font-family-josefin !important;
    font-size:3em;
  }
  p {
    font-family:$font-family-josefin !important;
    font-size:1.25em;
    margin-bottom:3em;
  }
}

.rgs-news-2 {
  background-color: #1cc7ff;
  i {
    display:inline-block;
    color:white;
    @media only screen and (min-width: 40.063em) {
      font-size:4em;
      padding:0px 1em 0px 1em;
      &:hover {
        color:#009900;
        cursor: pointer;
      }
    }
    font-size:3em;
    padding:0px 0.675em 0px 0.675em;
  }
}

.rgs-contact-1 {
  padding:2em 0px;
  h1 {
    font-size:1.25em;
    font-family:$font-family-josefin !important;
  }
  p {
    font-family:$font-family-josefin !important;
  }
  h2 {
    font-size:0.8em;
  }

  .newsletter {
    margin-top:2em;
  }
}


.rgs-footer {
  background-color: #e9e0db;
  padding:1em 0px;

  .latestupdates {
    margin-top: 1.6em !important;
  }

  h1 {
    font-size: 1.25em;
    font-family: $font-family-josefin;
    text-align:center;
    font-weight:bold;
    color:#505050;
  }

  p {
    font-size:0.9375em;
    font-family: $font-family-josefin !important;
    text-align:center;
    color:#505050;
    margin-bottom:0.75em;
  }

  ul {
    list-style: none;
    margin:0 auto;

    li {
      display: inline-block;
      padding:0 0.5em 0 0.5em;

      i {
        font-size:3em;
        color:#505050;

        &:hover {
          color:#b9c3ba;
          cursor: pointer;
        }
      }
    }
  }

  .footer-1 {
    @media only screen and (min-width: 40.063em) {
      border-right: solid thin #9a9592;
    }
    height: 14em;
  }

  .footer-2 {
    @media only screen and (min-width: 40.063em) {
      border-right: solid thin #9a9592;
    }
    height: 14em;
  }
}

.rgs-base-footer {
  background-color: #505050;
  height:2.5em;
  ul {
    list-style: none;
    margin:0 auto;
    li {
      display:inline-block;
      font-size:0.75em;
      font-family: $font-family-josefin !important;
      color:#d9d2c9;
      padding: 0 2em 0 2em;
      margin-top:1em;
    }
  }
}

#map {
  height:24.3em;
}

.button {
  background-color: #bead9a !important;
  border-bottom: 2px solid #a39884 !important;

  &:hover {
    background-color:#a39884 !important;
  }
}