.top-bar-section {
  text-align: center !important;
  ul {
    text-align: center;
    li {
      a {
        font-size:1.675em !important;
        color:white;
      }
    }
  }
}

.rgs-hero {
  height:25em;
  background-color: #008CBA;
}

.rgs-home-1 {
  padding:2em 0px;
}

.rgs-home-2 {
  background-color: #1cc7ff;
  i {
    display:inline-block;
    color:white;
    @media only screen and (min-width: 40.063em) {
      font-size:4em;
      padding:0px 1em 0px 1em;
      &:hover {
        color:#009900;
        cursor: pointer;
      }
    }
    font-size:3em;
    padding:0px 0.675em 0px 0.675em;
  }
}

.rgs-footer {
  background-color:gray;
  padding:1em 0px;
}