h1 {
  font-family: $font-family-roboto !important;
  font-weight:300 !important;
}

p {
  font-family: $font-family-roboto !important;
  font-weight:400 !important;
}

.top-bar-section {
  ul {
    text-align: center;
    li {
      a {
        font-size:1.675em !important;
        color:white;
        font-family: $font-family-roboto !important;
        font-weight:100 !important;
      }
      @media only screen and (min-width: 40.063em) {
        &:hover {
          border-bottom: solid 3px yellow;
        }
      }
    }
  }
}

nav.top-bar:not(.expanded) {
  text-align: center;
  section.top-bar-section { display: inline-block; }
}

.toggle-topbar {
  right:40% !important;
  a {
    span {
      font-family: $font-family-roboto;
      font-weight:100;
      font-size:2em;
    }
  }
}

.rgs-hero {
  height:25em;
  background-color: #008CBA;
}

.rgs-home-1 {
  padding:4em 0px;
}

.rgs-home-2 {
  background-color: #1cc7ff;
  i {
    display:inline-block;
    color:white;
    @media only screen and (min-width: 40.063em) {
      font-size:4em;
      padding:0px 1em 0px 1em;
      &:hover {
        color:#009900;
        cursor: pointer;
      }
    }
    font-size:3em;
    padding:0px 0.675em 0px 0.675em;
  }
}

.rgs-about-hero {
  height:25em;
  background-color: #008CBA;
}

.rgs-about-1 {
  padding:4em 0px;
}

.rgs-about-2 {
  background-color: #1cc7ff;
  i {
    display:inline-block;
    color:white;
    @media only screen and (min-width: 40.063em) {
      font-size:4em;
      padding:0px 1em 0px 1em;
      &:hover {
        color:#009900;
        cursor: pointer;
      }
    }
    font-size:3em;
    padding:0px 0.675em 0px 0.675em;
  }
}

.rgs-gallery-hero {
  height:25em;
  background-color: #008CBA;
}

.rgs-gallery-1 {
  padding:4em 0px;
}

.rgs-gallery-2 {
  padding:2em 0px;
  background-color: #C6E746;

  ul {
    li {
      img {
        border: solid 4px #FFFFFF;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.rgs-gallery-3 {
  background-color: #1cc7ff;
  i {
    display:inline-block;
    color:white;
    @media only screen and (min-width: 40.063em) {
      font-size:4em;
      padding:0px 1em 0px 1em;
      &:hover {
        color:#009900;
        cursor: pointer;
      }
    }
    font-size:3em;
    padding:0px 0.675em 0px 0.675em;
  }
}

.rgs-news-1 {
  padding:2em 0px;
}

.rgs-news-2 {
  background-color: #1cc7ff;
  i {
    display:inline-block;
    color:white;
    @media only screen and (min-width: 40.063em) {
      font-size:4em;
      padding:0px 1em 0px 1em;
      &:hover {
        color:#009900;
        cursor: pointer;
      }
    }
    font-size:3em;
    padding:0px 0.675em 0px 0.675em;
  }
}

.rgs-contact-1 {
  padding:2em 0px;
  h1 {
    font-size:1.25em;
  }
  h2 {
    font-size:0.8em;
  }

  .newsletter {
    margin-top:2em;
  }
}


.rgs-footer {
  background-color:gray;
  padding:1em 0px;
}

#map {
  height:25em;
}