<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
      <rewrite>
          <rules>
              <rule name="SpecificRewrite" stopProcessing="true">
                  <match url="^page$" />
                  <action type="Rewrite" url="/page.html" />
              </rule>
          </rules>
      </rewrite>
  </system.webServer>
</configuration>